body{
    margin: 0;
    padding: 0;
}

#header{
    width: 1000px;
    height: 100px;
    background-color: rgba(199, 223, 255, 0.53);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0 auto 0;
    padding: 10px;
}

#header h1{
    text-align: center;
}

#body{
    min-height: 400px;
    width: 900px;
    margin:0 auto 0;
    padding: 10px;
    background-color: aliceblue;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#body h2{
    text-align: center;
    background-color: #acc4ee;
    width: 400px;
    border-radius: 15px;
    margin: 0 auto 20px;
}

.train{

    background-color: gold;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;

}

.train h3{
    text-align: center;
    margin: 0px 10px;
}

.train p{
    margin: 0px 10px;
}

.train hr{
    text-align: left;
    width: 650px;
    margin: 10px 5px;
}

.train div{
    background-color: #acc4ee;
    border-radius: 15px;
    margin: -50px 15px 10px 700px;
    padding: 10px;
    width: 100px;
}

.noRoute {
    margin: 50px;
    font-weight: bold;
    font-size: 25px;
}

#form{

    background-image: url(../img/train.png);
    padding: 25px;
    margin: 25px 0 0;

}

#footer{
    width: 1100px;
    height: 20px;
    margin:80px auto 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(199, 219, 239, 0.74);
    display: table;
}

#footer p{
    display: table-cell;
    vertical-align: bottom;
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.adminTable {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto 0;
}
.adminTable tr, .adminTable td{
    border: 1px solid black;
}